@using BlazorAppWasm.Models
<div class="container"> 
    <div class="row">
        <div class="mb-2">
            <input type="text" class="form-control" @bind="categoryTask" placeholder="Enter Category"/>
        </div>        
    </div>
    <div class="row">
        <div class="mb-2">
            <button class="btn btn-primary" @onclick="AddCategory">Add</button>
        </div>        
    </div>
</div>
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private Category? category;
    private string? categoryTask = String.Empty;

    private void AddCategory()
    {
        if (!String.IsNullOrWhiteSpace(categoryTask))
        {
            category = new Category() { Id = Guid.NewGuid(), Name = categoryTask };
            ModalInstance.CloseAsync(ModalResult.Ok<Category>(category));
        }
    }
}
