@using BlazorAppWasm.Models
<div class="container">
 
    <div class="row">
        <div class="mb-2">
            <input type="text" class="form-control" @bind="todoTask" placeholder="Enter Task"/>
        </div>        
    </div>
    
    <div class="row">
        <div class="mb-2">
            <button class="btn btn-primary" @onclick="AddTodo">Add</button>
        </div>        
    </div>

</div>
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private TodoItem? todoItem;
    private string? todoTask = String.Empty;

    private void AddTodo()
    {
        if (!String.IsNullOrWhiteSpace(todoTask))
        {
            todoItem = new TodoItem() { Task = todoTask };
            ModalInstance.CloseAsync(ModalResult.Ok<TodoItem>(todoItem));
        }
    }
}
